.group-child22 {
  border-radius: var(--br-xl);
  width: 406px;
  height: 548px;
  object-fit: cover;
}
.groom-portraits {
  text-align: center;
  line-height: 190.9%;
}
.rectangle-parent8 {
  height: 541px;
}
.couple-portraits {
  text-align: center;
  line-height: 190.9%;
}
.group-parent5,
.rectangle-parent9 {
  height: 541px;
}
.group-parent5 {
  /* text-align: left; */
  margin-bottom: 100px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: var(--font-size-base);
  color: var(--color2);
  font-family: var(--font-arkhip);
}
