.dbs-2404-1-icon {
  width: 100%;
  object-fit: cover;
}
.welcome-to1 {
  font-weight: 600;
}
.welcome-to {
  margin: 0;
}
.dream-big-studio {
  margin: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--font-arkhip);
}
.welcome-to-dream-big-container {
}
.unlocking-the-magic {
  font-size: var(--font-size-11xl);
  font-family: var(--font-arkhip);
}
.welcome-to-dream-big-studio-parent {
  height: 208px;
}
.div,
.div1,
.div2,
.div3,
.div4,
.div5 {
  height: 500px;
}
.div1,
.div2,
.div3,
.div4,
.div5 {
}
.div2,
.div3,
.div4,
.div5 {
}
.div3,
.div4,
.div5 {
}
.div4,
.div5 {
}
.div5 {
}
.property-1slider-1 {
  height: 500px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color1);
  font-family: var(--font-montserrat);
}
